body {
  color: white;
  background-color: black;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  flex-direction: column;
}

nav {
  background-color: #181818;
  border-radius: 100px;
  min-width: 1000px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 70px;
  flex-direction: row;
  text-align: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-right: 160px;
  transition: 0.3s;
}
.logo:hover {
  cursor: pointer;
  scale: 1.02;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

a {
  padding: 0 20px;
  color: rgb(204, 204, 204);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgb(255, 255, 255);
}

.cartNav {
  display: flex;
  flex-direction: row;
}

.cartSVG {
  margin-right: -7px;
  color: white;
  width: 25px;
  height: 25px;
}

.contactNav {
  display: flex;
  flex-direction: row;
}

.contactSVG {
  margin-right: -7px;
  color: white;
  width: 25px;
  height: 25px;
}

.aboutNav {
  display: flex;
  flex-direction: row;
}

.aboutSVG {
  margin-right: -7px;
  color: white;
  width: 25px;
  height: 25px;
}
